<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="PathToScript" value="C:\Users\Hendri\Documents\Visual Studio 2013\Projects\rpmkit\rpmkit\bin\Debug\" />
    <add key="LogLevel" value="INFO" />
    <!--Can be either DEBUG or INFO -->
  </appSettings>
</configuration>